.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.contact h1 {
    font-family: "Augify";
    color: rgb(1, 0, 254);
    width: 30%;
    font-size: 3rem;
    line-height: 4rem;
}

.contact-details {
    align-self: flex-end;
    margin-bottom: 2%;
}

.contact-details a {
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(1, 0, 254);
}

.contact p {
    font-family: "Practice";
    color: rgb(1, 0, 254);
    font-size: 0.7rem;
    margin-top: 8%;
    letter-spacing: 3px;
}

.loader {
    width: 10%;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,rgb(1, 0, 254) 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
    display: inline-block;
  }

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

@media  (max-width: 768px) {

.contact h1 {
    width: 60%;
    margin-bottom: 5%;
    font-size: 2rem;
    line-height: unset;
    text-align: center;
}

.container {
    width: 250px;
    height: 250px;
    margin-top: 10%;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.contact p {
    justify-content: center; 
    margin-top: unset;
}

}
