.footer {
    background: transparent;
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.footer-icon {
    position: relative;
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
    z-index: 1;
    overflow: hidden;
    pointer-events: auto;
}

.footer-text {
    display: inline-block;
    font-family: "Practice";
    font-size: 0.8rem;
    color: rgb(1, 0, 254);
    transform: translateX(-150%);
    transition: transform .3s ease-in-out;
    overflow: hidden;
    pointer-events: auto;
}

.footer-box {
    overflow: hidden;
    display: flex; 
    align-items: center;
}

.footer a {
    display: flex;
    pointer-events: none;
    text-decoration: none;
}

.footer a:hover > .footer-box .footer-text {
    transform: translateX(0);
}

.footer-text:hover {
    text-decoration: underline;
}

@media  (max-width: 768px) {

.footer {
    flex-direction: unset;
}

.footer-text {
    display: none;
}

.footer-icon {
    margin-right: 0;
}
}

