
@font-face {
  font-family: "Augify";  
  src: local("Augify"),
    url("./fonts/Augify.otf") format("opentype");
}

@font-face {
  font-family: "Practice";   
  src: local("Practice"),
    url("./fonts/Practice.otf") format("opentype");
}


* {
  margin: 0;
}


html {
  background: #0100fe;
  margin-left: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  font-family: "Playfair Display", "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
